# 该 QuantumultX 远程重写配置片段用于获取"tuhu"账号授权
# 配置脚本后登陆"tuhu"微信小程序即可完成获取




^https:\/\/api\.tuhu\.cn\/User\/GetInternalCenterInfo url script-request-header https://raw.githubusercontent.com/Sliverkiss/GoodNight/master/Script/tuhu.js
hostname = api.tuhu.cn
